# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Jupyter Notebook
.ipynb_checkpoints

# some folders to avoid to be pushed
_next-advancements/
_errors/
*relation_images/

# some specific files to avoid
*.nb.html
Data-Descriptor/Cell-Level/scPower-wrapper/*.nb.html
Data-Descriptor/Cell-Level/scPower-wrapper/results/muscle/skeletal muscle/skeletal_muscle.RData
Data-Descriptor/Cell-Level/scPower-wrapper/results/muscle/limb muscle/limb_muscle.RData
Data-Descriptor/Cell-Level/scPower-wrapper/results/gtex/gtex.RData
*consoleOutput.txt
*estimates_trimmed.txt
*.png
**/error.txt

# Vue
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?